.our-team {
	text-align: center;
	margin-bottom: 20px;
}
.our-team .container--flex {
	align-items: flex-start;

}
.our-team__title {
	font-family: 'pacifico', cursive;
	color: #DE423A;
	font-weight: bold;
	font-size: 1.8em;
	margin-bottom: 10px;
}
.our-team__img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 20%;
	margin: auto;
	margin-bottom: 20px;

}
.our-team__txt {
	padding:10px;
	text-align: justify;
}

@media only screen and (min-width:480px) {
	.our-team__img {
		width: 150px;
		height: 150px;
	}
}

@media only screen and (min-width:768px) {
	.our-team__img {
		width: 220px;
		height: 220px;
	}
}
@media only screen and (min-width:1024px) {
	.our-team__img {
		width: 310px;
		height: 310px;
	}
}

.aviso-cookies {
	display: none;
	background: #fff;
	padding: 20px;
	width: calc(100% - 40px);
	max-width: 300px;
	line-height: 150%;
	border-radius: 10px;
	position: fixed;
	bottom: 20px;
	left: 20px;
	z-index: 10000;
	padding-top: 60px;
	box-shadow: 0px 2px 20px 10px rgba(222,222,222,.25);
	text-align: center;
}

.aviso-cookies.activo {
	display: block;
}

.aviso-cookies .galleta {
	max-width: 100px;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}

.aviso-cookies .titulo,
.aviso-cookies .parrafo {
	margin-bottom: 15px;
}

.aviso-cookies .boton {
	width: 100%;
	background: #595959;
	border: none;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	padding: 15px 20px;
	font-weight: 700;
	cursor: pointer;
	transition: .3s ease all;
	border-radius: 5px;
	margin-bottom: 15px;
	font-size: 14px;
}

.aviso-cookies .boton:hover {
	background: #000;
}

.aviso-cookies .enlace {
	color: #4DBFFF;
	text-decoration: none;
	font-size: 14px;
}

.aviso-cookies .enlace:hover {
	text-decoration: underline;
}

.fondo-aviso-cookies {
	display: none;
	background: rgba(0,0,0,.20);
	position: fixed;
	z-index: 9999;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
}

.fondo-aviso-cookies.activo {
	display: block;
}